@import '../../../scss/utils';

.increment-box {
  background: #FFFFFF;
  border: 1px solid $main50;
  box-shadow: 0px 10px 20px $main5;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  padding: 6px 6px 6px 14px;
  border-top: none;
  width: 100%;

  &_static{
  }

  &__rows {
    margin: 0 0 20px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__row:not(:last-child) {
    padding: 0 0 7px;
  }

  &__text {
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $main;
    width: 100%;
    padding-bottom: 3px;
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 92px;
  }

  &__number {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $main;
    padding-bottom: 3px;
    max-width: 32px;
  }
}

.decrease_disabled {
  opacity: 0.38;
}

.increase, .decrease {
  font-size: 18px;
  color: $main50;
  border: 1px solid $main25;
  border-radius: 22px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 6px 0;
}

.reset, .done {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $main50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.done {
  color: $purple;
}