include ../../components/nav/nav

mixin header(options)
  - 
    options = options || {}
    let {isLogedIn} = options
    let items = [
      {isActive: true, text: 'О нас'},
      {isExpandable: true, text: 'Услуги'},
      {text: 'Вакансии'},
      {text: 'Новости'},
      {isExpandable: true, text: 'Соглашения'},
      ]

  header.header
    .container.header__container
      button.header__burger-button.js-burger-button(type="button")
        span
      .header__mobile-menu.js-mobile-menu
      .header__logo
        a.header__logo-link(href='/' title='Toxin - Главная страница')
          include ../../../images/svg/logo.svg
      .header__nav
        +nav({items: items})(data-da="js-mobile-menu, last, 991")
      if !isLogedIn
        .header__buttons(data-da="js-mobile-menu, first, 991")
          +button({type: 'white', buttonText: 'войти', narrow: true})
          +button({type: 'gradient', buttonText: 'зарегистрироваться', narrow: true})
      else
        .header__user-block(data-da="js-mobile-menu, last, 991")
          .header__user-name Юлий Цезарь
