@import '../../../scss/utils';

.main_headers-footers{
  background: #F4F4F6;
  padding: 140px 0 140px 0;
}

.header-footers{

  &__item{

    &:not(:last-child){
      margin: 0 0 40px 0;
    }
  }
}

.logo{

}
.nav{
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: $main50;
  align-items: center;

  &__link{

  }

  &__item{
    cursor: pointer;

    &_active{
      font-weight: bold;
      color: $main75;
    }

    &_expandable{
      display: flex;
      align-items: center;

      &:after{
        content: 'expand_more';
        font-family: $material;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        font-size: 24px;
        line-height: 20px;
      }
    }
  }

  & > :not(:last-child){
  margin: 0 21px 0 0;
  }
}
