extends ../../layouts/main

include ../../includes/header/header
include ../../includes/footer/footer

block variables
  - const title = 'UI Headers and Footers'
  - const description = 'UI Headers and Footers'

block main
  main.main.main_headers-footers
    .main-logo.main-logo_ui-kit(src="./images/svg/ui-kit-logo.svg", alt="logo")
      include ../../../images/svg/ui-kit-logo.svg
    block content
      .content.content_headers-footers
        .header-footers
          .header-footers__item
            +header()

          .header-footers__item
            +header({isLogedIn: true})
          
          .header-footers__item
            +footer()
          
          .header-footers__item
            +footer({isMobile: true})


