@import '../../../scss/utils';

.main_headers-footers{
  background: #F4F4F6;
  padding: 140px 0 140px 0;
}

.header-footers{

  &__item{

    &:not(:last-child){
      margin: 0 0 40px 0;
    }
  }
}

.logo{

}

