@import '../../../scss/utils';

.sign-in-content{
  position: relative;
  &__form{
    z-index: 111;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 213px 0 160px;
  }

  &__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }

  &__slider{
    position: absolute;
    // z-index: 111;
    height: 100%;
    width: 100%;
  }

  & .swiper-wrapper{
    position: unset;
  }

  & .slider__element {
    height: 100%;
  }

  & .swiper-container {
    // height: 100%;
    // width: 100%;
  }
  
}

