@import '../../../scss/utils';

  .footer-nav{
    &__title{
      margin: 0 0 20px 0;
    }
    &__content{
      display: flex;
      flex-direction: column;
    }
    &__link{
      display: flex;
      font-size: 14px;
      line-height: 17px;
      color: $main50;

      &:not(:last-child){
        margin: 0 0 20px 0;
      }
    }
  }
