@import '../../../scss/utils';

.main_form-elements {
  padding: 140px 140px 130px;
}
.content{
  &_form-elements{
  }
}
.column-1, .column-2, .column-3{
  pointer-events: all;
}
.inputs-and-buttons, .dropdowns, .lists{
  display: grid;
  grid-template-columns: minmax(320px, 446px) minmax(320px, 392px) minmax(320px, auto);
  grid-template-areas: 'misc-item misc-item2 misc-item2 ';
}

.inputs-and-buttons{
  margin: 0 0 100px 0;

  &__item{
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 320px;

    &_range-container{
      max-width: 266px;
    }

    &_pagination-container{
      max-width: 320px;

    }

    &_checkbox-buttons-container{
      flex-direction: column;
    }
  }

  &__item-heading{
    flex: 1 100%;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }
}

.checkbox-buttons{

  &__item{
    &:not(:last-child){
      margin: 0 0 10px 0;
    }
  }
}

.radio-buttons{
  display: flex;
  padding-bottom: 3px;
  &__item{
    margin: 0 20px 0 0;
  }
}

.toggle{

  &__item{
    margin: 0 0 10px 0;
  }
}

.like-buttons{
  display: flex;

  & > .like-button:not(:last-child){
    margin: 0 14px 0 3px;
  }
}

.rates{
  display: flex;

  & .rate:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.buttons{
  display: flex;
  margin: 0 0 30px 0;
  max-width: 218px;

  & > .button:not(:last-child){
    margin: 0 16px 0 0;
  }
}

.dropdowns{
  margin: 0 0 154px 0;

  &__item{
    max-width: 320px;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }

    &_small{
      max-width: 266px;
    }
  }
}

.lists{
  margin: 0 0 100px 0;

  &__item{
    max-width: 292px;
    
    &:not(:last-child){
      margin: 0 0 20px 0;
    }

    &_small{
      max-width: 266px;
    }
  }
}

.rich-buttons{

  &__item{
    margin: 0 0 10px 0;
  }
}

.misc{
  display: grid;
  grid-template-columns: minmax(320px, 446px) auto;
  
  &__item{
  }
  &__item{
  }
}

.advantages{

  &__item{
    max-width: 280px;
    &:not(:last-child){
      margin: 0 0 23px 0;
    }

    &:not(:last-child):after{
      content: '';
      display: flex;
      height: 1px;
      background: rgba(31, 32, 65, 0.1);
      width: 100%;
      margin: 17px 0 0 0;
    }
  }
}
