@import '../../../scss/utils';

.expandable-list{

  &__detail{
    display: flex;

    &[open]{
      .expandable-list__summary:after{
        transform: rotate(-180deg);
        transition: ease all .6s;
      }
    }
  }

  &__summary{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2px 0;
    cursor: pointer;

    &:after {
      content: 'expand_more';
      font-family: $material;
      display: flex;
      font-size: 24px;
      line-height: 217px;
      width: 44px;
      justify-content: center;
      color: $main50;
      transition: ease all .6s;
    }
  }

  &__title{
    text-transform: uppercase;
  }

  &__item{
    margin: 0 0 10px 0;
  }
}