include ../input/input
include ../button/button

mixin form-elem(options)
  if !options
    - options = {}
  if !options.wrapper && !options.heading
    if options.title
      .form-element
        .form-element__heading
          h3.h3.form-element__title #{options.title}
          if options.text
            span.form-element__text #{options.text}
        .form-element__body
          block
  else if options.wrapper
    .form-element
      block
  else if options.heading
    .form-element__heading
      h3.h3.form-element__title #{options.title}
        if options.text
          span.form-element__text #{options.text}
    .form-element__body
          block
