block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(description= `${description}`)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
     
  body.body
    block header
    block main
      block aside-left
        
      block content
      block aside-right
        
    block footer
    