@import "./fonts";
@import "./reset";
@import "./utils";

body {
  font-family: 'Montserrat', sans-serif;
  @include main-font;
  color: $main;
}
strong{
  font-weight: bold;
}

.heading {
  @include h1;
  font-family: $second-font;
}
.heading_level-2 {
  @include h2;
  font-family: $second-font;
}
.heading_level-3 {
  @include h3;
  font-family: $main-font;
}
.main{
  display: flex;
  justify-content: center;
}

.main-logo {

  &_ui-kit {
    position: absolute;
    top: 30px;
    left: 30px;
    // & > *{
    //   height: 40px;
    // }
  }
}

.container{
  display: flex;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
.content{
  width: 100%;
}
.aside-left{
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg > img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
