// COLORS

$main: #1F2041;
$main75: rgba(31, 32, 65, 0.75);
$main50: rgba(31, 32, 65, 0.5);
$main25: rgba(31, 32, 65, 0.25);
$main5: rgba(31, 32, 65, 0.05);
$green: #6FCF97;
$purple: #BC9CFF;
$purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);



// FONT SIZE

$biggest: 30px;
$bigger: 24px;
$big: 19px;
$normal: 14px;
$small: 12px;
$smaller: 10px;

// FONTS

$main-font: 'Montserrat', sans-serif;
$second-font: 'Quicksand','Open Sans', sans-serif;
$material: 'Material Icons';

// A map of breakpoints.
// breakpoints: 320px, 375px, 480px, 768px, 992px, 1024px, 1200px etc.
$breakpoints: (
  xxs: 320px,
  xs: 480px,
  s: 768px,
  m: 992px,
  l: 1024px,
  xl: 1200px
);

