mixin rate(options)
  if !options
   - options = {}
  - const {rateNumber, name} = options
  .rate
    - for (let i = 5; i > 0; i--)
      if i === rateNumber
        input(type='radio' name=name value=i class='radio rate__radio' checked)
      else 
        input(type='radio' name=name value=i class='radio rate__radio')
