
@import '../../../scss/utils.scss';

.rate{
  display: flex;
  flex-direction: row-reverse;
  max-width: 120px;

  &__radio{
    height: 24px;
    cursor: pointer;
    
    &:after{
      content: 'star_border';
      font-family: $material;
      font-size: 24px;
      background: $purple-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:checked:after, &:checked ~ &:after{
      content: 'star';
    }

    .rate:hover &:after{
      content: 'star_border';
    }

    .rate &:hover:after, &:hover ~ &:after{
      content: 'star';
    }
  }
}

