include ../input/input

mixin rate(options)
  if !options
   - options = {}
  .rate
    - for (let i = 5; i > 0; i--)
      if i === options.rateNumber
        input(type='radio' name=options.name value=i class='radio rate__radio' checked)
      else 
        input(type='radio' name=options.name value=i class='radio rate__radio')
