@import '../../../scss/utils';

.dropdown{
  position: relative;

  &__layer{
    position: fixed;
    background: transparent;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
  }

  &_static{
    .increment-box{
      display: flex;
      visibility: visible;
      opacity: 1;
      position: relative;
      z-index: 0;
    }

    .dropdown__details[open] .dropdown__summary{
      border: 1px solid $main50;
      border-radius: 4px 4px 0 0;
    }

  }
  
  &_expanded{

    .dropdown__layer{
      visibility: visible;
      opacity: 1;
    }

    .dropdown__body{
      visibility: visible;
      opacity: 1;
      transition: all ease .6s;
    }

    .dropdown__summary{
      border: 1px solid $main50;
      border-radius: 4px 4px 0 0;
      transition: all ease .6s;
    }
  }

  &_filter-date-dropdown{

    .dropdown__summary{
      border-radius: 4px;
      border: 1px solid $main25;
      margin: 0 0 5px 0;

      &:hover{
        border: 1px solid $main25;
      }
    }
  }

  &__heading{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
  }
  &__title, &__subtitle{
    text-transform: uppercase;
  }
  &__subtitle{
    font-weight: normal;
    color: $main50;
  }
  &__details{
    position: relative;
  }
  &__summary{
    display: flex;
    position: relative;
    background: #FFFFFF;
    border: 1px solid $main25;
    border-radius: 4px;
    padding: 12px 15px 8px;
    cursor: pointer;
    transition: all ease .6s;

    &:hover{
      border: 1px solid $main50;
    }

    &:after{
      content: 'expand_more';
      font-family: $material;
      width: 44px;
      height: 44px;
      font-size: 24px;
      line-height: 24px;
      color: $main75;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $main75;
    pointer-events: none;
  }
  &__body{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all ease .6s;
    width: 100%;
    z-index: 100;
  }
  &__inputs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(149px, auto));;
    grid-column-gap: 20px;
    margin: 0 0 5px 0;
    grid-row-gap: 20px;
  }
  &__inputs-item{
  }

  &__input{
    border: 1px solid $main25;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: 12px 15px 8px 15px;
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: $main75;
    width: 100%;
  }

  &__icon{
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    color: $main50;
    right: 12px;
    top: 31px;
    pointer-events: none;
  }
}